<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
   <form class="registra form-group" action="/registro" method="POST">
        <div class="container">
            <h1>Register</h1>
            <p>Rellena los datos cara crear una cuenta</p>
            <hr>

            <label for="name"><b>Name</b></label>
            <input class="input-register" type="text"  id="name" placeholder="Enter Name" name="name"  required>
            
            <label for="email"><b>Email</b></label>
            <input class="input-register" type="email"  id="email" placeholder="Enter Email" name="email"  required>

            <label for="psw"><b>Password</b></label>
            <input class="input-register" type="password" id="password" placeholder="Enter Password" name="password"  required>

            <label for="psw-repeat"><b>Repeat Password</b></label>
            <input class="input-register" type="password" id="pswrepeat" placeholder="Repeat Password" name="pswrepeat"  required>

            <hr>
            <div><button class="registerbtn" onclick="validaClave()">Guardar</button></div>
            
        </div>
        <div class="container signin">
            <p>Already have an account? <a href="index.html">Sign in</a>.</p>
        </div>
    </form>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>



<script>
function validaClave(e) {


    let pass1 = $('#password').val();

    let pass2 = $('#pswrepeat').val();

    if (pass1 === pass2) {
        return;
    } else {
        alert('Las contraseñas son distintas.');
        return false;
    }
}</script>




</body>


</html>